name: NPM Publish

on:
    release:
        types: [created]

jobs:
    npm-publish:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3

            - uses: actions/setup-node@v3
              with:
                  node-version: 22
                  registry-url: https://registry.npmjs.org/

            - name: npm install, build, and test
              run: |
                  npm ci
                  npm run test:ci
                  npm run build
              env:
                  CI: true

            - run: npm publish --access=public
